application/cache/*
application/logs/*
.idea
sftp-config.json
application/out/*
application/config/parameters.php
vendor
system
modules
.svn
*.log
*~
*.swp
*.test
*.mwb
*.bak
var/openssl/*
phpunit.xml
!var/openssl/example/
!.gitkeep
