.btn-default,.btn-default:hover,.btn-default:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}

html,body {
  height: 100%;
}

body {
  background-color: rgba(0,0,0,.1);
  text-align: center;
}

a {
  text-decoration: none;
}

.ads h1 {
  display: inline;
  font-size: 1em;
}

.ads h2 {
  display: inline;
  font-size: 1em;
}

.color1 {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-color: #274661;
  width: 100%;
  height: 130%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.font-open {
  font-family: 'Noto Sans', sans-serif;
}

.btn-xt {
  width: 210px;
  color: #fff;
  padding: 15px;
  border-radius: 40px;
  border-style: solid;
  border-color: #fff;
  margin-right: auto;
  margin-left: 40px;
  cursor: pointer;
  display: inline-block;
  font-size: 28px;
  transition: all .5s ease 0;
  -moz-transition: all .5s ease 0;
  -webkit-transition: all .5s ease 0;
  text-align: center;
  background: none repeat scroll 0 0 #274661;
}

.btn-red {
  width: 100px;
  color: #D9534F;
  padding: 4px;
  border-radius: 30px;
  border-style: solid;
  border-color: #D9534F;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  transition: all .5s ease 0;
  -moz-transition: all .5s ease 0;
  -webkit-transition: all .5s ease 0;
  text-align: center;
  background: none repeat scroll 0 0 #fff;
}

.btn-green {
  width: 100px;
  color: #2F842F;
  padding: 4px;
  border-radius: 30px;
  border-style: solid;
  border-color: #2F842F;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  transition: all .5s ease 0;
  -moz-transition: all .5s ease 0;
  -webkit-transition: all .5s ease 0;
  text-align: center;
  background: none repeat scroll 0 0 #fff;
}

.btn-red:hover {
  background: none repeat scroll 0 0 #D9534F;
  color: #fff;
  text-decoration: none;
}

.btn-green:hover {
  background: none repeat scroll 0 0 #2F842F;
  text-decoration: none;
  color: #fff;
}

.frame-buy {
  border-color: #C2C5C7;
  border-style: solid;
  border-width: 1px;
  border-top-width: 8px;
  border-top-color: #46b98a;
  margin: auto;
}

.text-buy {
  padding: 18px;
  margin: 20px;
  font-weight: 600;
  text-align: left;
  font-size: 22px;
  color: #454545;
  font-size: 16px;
  margin-bottom: 45px;
}

a.btn-xt:hover {
  background: none repeat scroll 0 0 #fff;
  color: #274661;
  border-color: #274661;
  text-decoration: none;
}

.site-wrapper {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-color: #274661;
  display: table;
  width: 100%;
  height: 130%;
  min-height: 130%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
  margin-top: 150px;
}

.flex {
  display: flex;
  flex-direcrion: row;
}

.main-color {
  background: #274661;
  color: #eee;
}

.flex-buy {
  display: flex;
  flex-direcrion: row;
  margin: 0;
  padding: 0;
}

.span-buy {
  margin-top: 26px;
  padding-left: 10px;
  font-size: 14px;
  color: #9e9e9e;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  background-color: #274661;
}

.bg-clouds {
  background-color: #ecf0f1;
}

.span1 {
  font-size: 19px;
  color: #7f8c8d;
  text-align: justify;
}

.span2 {
  font-size: 17px;
  color: #7f8c8d;
}

.headers {
  text-align: center;
  color: #656;
}

.margin-md {
  margin: 60px auto;
}

.margin-sm {
  margin-left: 20px;
  padding-top: 18px;
}

.margin-left-sm {
  margin-left: 49px;
}

.margin-all-sm {
  margin: 28px;
}

.color-crem {
  background: #EFF1F2;
}

.color-white {
  background: #fff;
}

.zero-50 {
  height: 50px;
}

.zero-20 {
  height: 20px;
}

.zero-120 {
  height: 120px;
}

.zero-240 {
  height: 240px;
}

.img-center {
  align: center;
}

featured. {
  vertical-align: middle;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: 700;
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

.masthead-nav > .active > a,.masthead-nav > .active > a:hover,.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }

  .masthead-nav {
    float: right;
  }
}

.cover {
  padding: 0 20px;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: 700;
}

.shape {
  left: 50%;
  right: 50%;
  height: 100px;
  width: 160px;
  border-color: #fff;
  border-style: solid;
  border-width: 8px;
  margin: auto;
}

@media (min-width: 768px) {
  .masthead {
    position: absolute;
    top: 0;
  }

  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  .site-wrapper-inner {
    vertical-align: middle;
  }

  .masthead,.mastfoot,.cover-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .masthead,.mastfoot,.cover-container {
    width: 700px;
  }
}

.form-error {
  font-size: 14px;
  font-weight: 700;
  border-radius: 15px;
  padding-left: 15px;
  color: #fff;
  background: #942C2C;
  margin: 20px;
}

.span-lg {
  font-size: 60px;
}

.span-md {
  font-size: 35px;
}

.span-mo {
  margin-left: -35px;
  font-size: 20px;
}

.span-p-mo {
  margin-left: -15px;
  color: #fff;
  font-size: 9px;
}

.span-p-lg {
  color: #fff;
  font-size: 30px;
}

.form-text {
  color: #274661;
  text-align: left;
  font-size: 12px;
  font-weight: 700;
}

.img-filter {
  cursor: pointer;
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
}

.img-filter:hover {
  -webkit-filter: sepia(0%);
  -moz-filter: sepia(0%);
}

.m-warning {
  background: rgba(134,32,32,0.88);
  text-align: left;
  margin: 9px;
  margin-left: 45px;
  padding-left: 10px;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  width: 85%;
}

#plans,#plans ul,#plans ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#pricePlans:after {
  content: '';
  display: table;
  clear: both;
}

#pricePlans {
  zoom: 1;
  max-width: 69em;
  margin: 0 auto;
}

#pricePlans #plans .plan {
  background: #fff;
  float: left;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 0 0 20px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.planContainer .title h2 {
  font-size: 2.125em;
  font-weight: 300;
  color: #3e4f6a;
  margin: 0;
  padding: .6em 0;
}

.planContainer .title h2.bestPlanTitle {
  background: #3e4f6a;
  background: -webkit-linear-gradient(top,#475975,#364761);
  background: -moz-linear-gradient(top,#475975,#364761);
  background: -o-linear-gradient(top,#475975,#364761);
  background: -ms-linear-gradient(top,#475975,#364761);
  background: linear-gradient(top,#475975,#364761);
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.planContainer .price p {
  background: #3e4f6a;
  background: -webkit-linear-gradient(top,#475975,#364761);
  background: -moz-linear-gradient(top,#475975,#364761);
  background: -o-linear-gradient(top,#475975,#364761);
  background: -ms-linear-gradient(top,#475975,#364761);
  background: linear-gradient(top,#475975,#364761);
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  height: 2.6em;
  line-height: 2.6em;
  margin: 0 0 1em;
}

.planContainer .price p.bestPlanPrice {
  background: #f7814d;
}

.planContainer .price p span {
  color: #8394ae;
}

.planContainer .options {
  margin-top: 10em;
}

.planContainer .options li {
  font-weight: 700;
  color: #364762;
  line-height: 2.5;
}

.planContainer .options li span {
  font-weight: 400;
  color: #979797;
}

.planButton {
  cursor: pointer;
}

.planContainer .button a {
  text-transform: uppercase;
  text-decoration: none;
  color: #3e4f6a;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 2.8em;
  border: 2px solid #3e4f6a;
  display: inline-block;
  width: 80%;
  height: 2.8em;
  border-radius: 4px;
  margin: 1.5em 0 1.8em;
}

.planContainer .button a.bestPlanButton {
  color: #fff;
  background: #f7814d;
  border: 2px solid #f7814d;
}

#credits {
  text-align: center;
  font-size: .8em;
  font-style: italic;
  color: #777;
}

#credits a {
  color: #333;
}

#credits a:hover {
  text-decoration: none;
}
@media screen and (max-width: 1300px) {
  .margin-md {
    margin: 10px;
    font-size:1em;
  }
  .lead {
    font-size:1em;
  }
  .span1 {
    font-size:1.2em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  #pricePlans #plans .plan {
    width: 49%;
    margin: 0 2% 20px 0;
  }

  #pricePlans #plans > li:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #pricePlans #plans .plan {
    width: 49%;
    margin: 0 2% 20px 0;
  }

  #pricePlans #plans > li:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1025px) {
  #pricePlans {
    margin: 2em auto;
  }

  #pricePlans #plans .plan {
    width: 24%;
    margin: 0 1.33% 20px 0;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
  }

  #pricePlans #plans > li:last-child {
    margin-right: 0;
  }

  #pricePlans #plans .plan:hover {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
  }

  .planContainer .button a {
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
  }

  .planContainer .button a:hover {
    background: #3e4f6a;
    color: #fff;
  }

  .planContainer .button a.bestPlanButton:hover {
    background: #ff9c70;
    border: 2px solid #ff9c70;
  }
}

.faq-main {
  border-radius: 15px;
  text-align: left;
  padding: 10px;
}

.faq-q {
  padding-left: 60px;
  font-size: 16px;
}

.faq-tooltip {
  color: #777;
  font-style: oblique;
}

.prof-total {
  padding: 15px;
  padding-left: 150px;
  text-align: left;
  color: #555;
}

.wallet-box {
  text-align: left;
  color: #777;
  margin: 12px;
  border-left-style: groove;
  padding-left: 28px;
}

.grad {
  background: -webkit-linear-gradient(left,#ADB5B0,#3D5354);
  background: linear-gradient(to right,#ADB5B0,#3D5354);
  background: -o-linear-gradient(left,#ADB5B0,#3D5354);
  background: -moz-linear-gradient(left,#ADB5B0,#3D5354);
}

.footer-std {
  background: #274661;
  color: #eee;
  text-align: left;
}

.footer-std a {
  text-decoration: none;
  color: #aaa;
}

.footer-std h3 {
  border-width: 1px;
  border-bottom-style: groove;
}

.settings-title {
  border-width: 2px;
  border-bottom-style: groove;
}

.settings-delete {
  border-width: 1px;
  border-color: #E6DDDD;
  border-right-style: groove;
}

.vpn-block {
  font-size: 16px;
  background: #eee;
  border-width: 2px;
  margin-top: 50px;
  border-style: groove;
  padding-bottom: 10px;
}

.vpn-block em {
  font-size: 18px;
}